.center-container{
  display: flex;
  flex-direction: column;
  h1{
    font-size: 44px;
    line-height: 3rem;
    text-align: center;
  }
  p{
    //margin-block: var(--spacer);
    margin:15px 0 var(--spacerMd) 0px ;
    text-align: center;
  }
  .mat-button{
    min-width: 35%;
    margin: auto;
  }
}
