
<div class="question-container">
  <div *ngIf="question">
    <div class="col-container alignItems-center spacerMd">
        <p class="label">{{question.title}}</p>
        <h2>{{question.question}}</h2>
    </div>
    <div *ngIf="isTypeTextField(question.type)" class="col-container alignItems-center spacerMd">
      <!--QuestionType TextInput-->
        <mat-label *ngIf="question.label" mat-label>First name</mat-label>
        <input class="text-input" matInput placeholder="{{question.hint}}" (cdkAutofill)="userAnswer = $event.isAutofilled"/>
    </div>

      <!--QuestionType SingleSelection-->
      <div *ngIf="isSINGLE_RADIO_SELECTION(question.type)" >
        <mat-radio-group class="row-container center spacerMd" aria-label="Select an option" >
          <mat-radio-button (change)="selected($event,option)" *ngFor="let option of question.answers, let i=index" value="{{i}}">{{option.value}}</mat-radio-button>
        </mat-radio-group>
      </div>
      <!--QuestionType MultipleChoice-->
      <div *ngIf="isTypeMULTIPLE_CHECKBOX_CHOICE(question.type)">
        <mat-label *ngIf="question.label" mat-label>First name</mat-label>
        <input class="text-input" matInput placeholder="{{question.hint}}" (cdkAutofill)="userAnswer = $event.isAutofilled"/>
      </div>
  </div>

</div>
