<div>
  <mat-stepper class="stepper" [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <div class="content-wrapper-container">
        <div class="center-container">
          <app-dashboard></app-dashboard>
          <button class="default-button light-theme" mat-button matStepperNext (click)="stepper.next()">Next</button>
        </div>
      </div>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Questions">
      <div class="content-wrapper-container">
        <div>
          <app-question *ngIf="questions$" [questionObs]="questions$"></app-question>
        </div>
      </div>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup" label="Results" >
      <div class="content-wrapper-container">
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </div>
    </mat-step>
  </mat-stepper>
</div>
