/* MOBILE Styling*/

#angular-quiz {
  padding-block: 30%;
  border: solid 1px grey;
  border-radius: 5px;
  width: 95%;
  box-sizing: border-box;
  margin: 10px;
  height: calc(100vh - 10px);
}
.userLabel{
  width: fit-content;
  margin-left: auto;
  position: absolute;
  top: 20px;
  right: 20px;
}
// Override MUI Styling
:host ::ng-deep .mat-horizontal-stepper-header-container {
  display: none;
}
:host ::ng-deep.mat-horizontal-content-container{

}
.mat-horizontal-stepper-header-container {
  display: none !important;
}
.mat-stepper-horizontal {
  margin-top: 8px;
  background-color: var(--primary-surface);
}

.mat-form-field {
  margin-top: 16px;
}

.center-container{
  .mat-button{
    min-width: 35%;
    margin: auto;
  }
}
.stepper {
  background-color: black;
  color: white;
  border: solid grey 1px;
  border-radius: 5px;
  min-height: 100vh;
  position: relative;

}
.progressbar-container{
  width: 90%;
  margin: auto;
  position: initial;
  .progress-label{
    width: fit-content;
    margin-left: auto;
    color: grey;
  }
}


@media (min-width: 1200px) {
  .progressbar-container{
    position: absolute;
    bottom: var(--spacerMd);
  }
  #angular-quiz{
   padding: var(--spacerLg);
    border: solid 1px #424242;
    border-radius: 5px;
    width: 95%;
    height: 90vh;
    box-sizing: border-box;
    margin: auto;
    position: relative;
    top: 5%;
  }
  :host ::ng-deep.mat-horizontal-content-container{
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translatey(-50%);
    transform: translateX(-50%);
    padding: 0;
  }
  .userLabel{
    width: fit-content;
    margin-left: auto;
    position: initial;

  }

}

