/* MOBILE Styling*/

// Override MUI Styling
:host ::ng-deep .mat-horizontal-stepper-header-container {
  display: none;
}
:host ::ng-deep.mat-horizontal-content-container{

}
.mat-horizontal-stepper-header-container {
  display: none !important;
}
.mat-stepper-horizontal {
  margin-top: 8px;
  background-color: var(--primary-surface);
}

.mat-form-field {
  margin-top: 16px;
}

.center-container{
  .mat-button{
    min-width: 35%;
    margin: auto;
  }
}


.content-wrapper-container {
  position: absolute;
  top: 20%;
  left: 0;
  padding: 20px;
}
.stepper {
  background-color: black;
  color: white;
  border: solid grey 1px;
  border-radius: 5px;
  min-height: 100vh;
  position: relative;

}
@media (min-width: 1200px) {
  /*:host ::ng-deep.mat-horizontal-content-container{
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translatey(-50%);
    transform: translateX(-50%);
    padding: 0;
  }*/

  .content-wrapper-container {
    margin: auto;
    width: fit-content;
    margin: auto;
    width: 100%;
    max-width: min(100%,1200px);
    margin: 0;
    position: absolute;
    top: 40%;
    right:50%;
    -ms-transform: translatey(-50%);
    transform: translateY(-50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    border: solid red 1px;
    padding: 15px;
    box-sizing: border-box;

  }

}

