#angular-quiz {
  .result-bar.mat-progress-bar{
    height: 45px;
    border: solid 1px;
  }
  .step-bar.mat-progress-bar{
    height: 10px;
    border: solid 1px;
  }

    .mat-progress-bar-fill::after {
      background-color: var(--onPrimary);
    }
    .mat-progress-bar-buffer {
      background-color:var(--primary-surface);
    }



}
