
  <div class="dashboard-container">
    <h1 class="text-center header">Welcome to our Survey.</h1>
    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in massa justo. Phasellus at feugiat sapien. Pellentesque eu hendrerit sapien. Nulla mi metus, commodo ac arcu eget, porta pellentesque elit. Curabitur ornare erat sit amet urna aliquam, vitae malesuada lectus venenatis. Nullam dui ligula, porttitor quis cursus et, venenatis sit amet libero. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
  </div>

