/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

//@import shared styles here
@import "./src/shared/styles/input/button.scss";
@import "./src/shared/styles/input/checkbox.scss";
@import "src/shared/styles/components/progressbar.scss";
@import "shared/styles/utllity/utillity.scss";
/*$my-custom-typography-config: mat.define-typography-config(
  $display-4: mat.define-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
  $display-3: mat.define-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
  $display-2: mat.define-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
  $display-1: mat.define-typography-level(34px, 40px, 400),
  $headline:  mat.define-typography-level(24px, 32px, 400),
  // ...
);
@include mat.core($my-custom-typography-config);*/

html, body { height: 100%; font-size: 15px }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color: white; background-color: var(--primary-surface) }
main{
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding:15px
}
#angular-quiz{

  h1{
    font-size: var(--fs-h1)!important;;
    font-weight: var(--fw-b)!important;;
  }
  h2{
    font-size: var(--fs-h2);
    font-weight: var(--fw-b);
  }
  h3{
    font-size: var(--fs-h3);
    font-weight: var(--fw-m);
  }
}
:root{
  //Fontsize
  --fs-article: 1rem;
  --fs-h1: 2.5rem;
  --fs-h2: 2rem;
  --fs-h3: 1.5rem;
  --fs-p: 1rem;
  //Iconsize
  --is-m: 32px;
  --is-l: 44px;
  //--Fontweight
  --fw-n: 300;
  --fw-m: 400;
  --fw-b: 700;
  //LineHeight
  --lh-n: 1;
  --lh-md: 1.3;
  --lh-lg: 2;
  //Letterspacing
  --ls-lg: 0rem;
  //primary surfaces and text colors
  --primary-surface:black;
  --secondary-surface:white;
  --onPrimary:white;
  --onSecondary:black;
  //accent colors
  --accent-color: #ffffff;
  //error and warning colors
  --error-color: #f00;
  --inactiv-color:#767676;
  //--Spacing
  --spacer: 1.25rem;
  --spacerMd: 2.5rem;
  --spacerLg: 3.75rem;
}


@media (min-width: 1200px) {
  p{
    //margin-block: var(--spacer);
    margin:15px 0 var(--spacerLg) 0px ;
  }
}
